#projetos {
    padding: 5em 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.secao-projetos{
        padding: 80px 0;
        background-color: #282673;
        font-family: 'Arial', sans-serif;
}

.titulo-projetos{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 50px;
    color: #f8f8f8;
    position: relative;
}

.titulo-projetos::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: #4a90ce;
}

.texto-titulo{
    color: #f8f8f8;
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1.8px;
    font-size: 1.3em;
    margin-bottom: 4em;
}

.projetos-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.projetos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.projeto-card{
    background: #f8f8f8;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.projeto-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.projeto-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 1.5em;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.projeto-card:hover img{
    transform: scale(1.03);
}

.projeto-card h3{
    font-size: 1.4em;
    margin-bottom: 1em;
    color: #4a90ce;
}

.projeto-card p{
    color: #666;
    margin-bottom: 1.5em;
    line-height: 1.5;
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
}

.card-btn{
    display: flex;
    gap: 15px;
}

.card-btn button, .card-btn a{
    flex: 1;
    padding: 0.8em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid #4e6bf5;
    background: #282673;
    color: #f8f8f8;
    font-family: inherit;
    font-size: 0.9em;
}

.card-btn a:last-child{
    background: none;
    color: #282673;
}

.card-btn a:last-child:hover{
    background: #4e6bf5;
    color: #f1f5fe;
}

.card-btn button:hover{
    background: #724EBF;
    border: 2px solid #282673;
    color: #f8f8f8;
}

@media (max-width: 768px){
    .projetos-grid{
        grid-template-columns: 1fr;
    }

    .card-btn{
        flex-direction: column;
    }

    #projetos{
        padding: 3em 0;
    }

    .titulo-projetos{
        font-size: 2em;
    }

    .texto-titulo{
        font-size: 1em;
    }


}